.MainWrapper{
  background-color: #F3F4F6;
  width: 100%;
  height: 100%;
}


.google-btn {
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin: 5px 0px;
  width: 240px;
  border-radius: 8px;
}


.facebook-btn {
  
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin: 5px 0px;
  width: 240px;
  border-radius: 8px;

}

.HeaderText{
  font-size: 14px;
  margin-bottom: 13px;
}


.google-btn:hover , .facebook-btn:hover{
  background-color: #2B7FFF;
  color: white;
}

.LoginContainer{
  width: 300px;
  margin: 100px auto;
  padding: 30px 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  box-shadow: 0 0 9px rgba(5, 225, 185, 0.7);
}


.inputWrapper{
  display: flex;
}

.inputWrapper button {
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  padding: 0;
  margin-left: -30px;
  margin-top: 30px ;
}

.inputWrapper button:hover {
  color: #2B7FFF;
}


.inputWrapper input{
  width: 240px;
  margin: 10px 0px;
  height: 42px;
  padding: 13px;
  border-radius: 8px;
  border: 1px solid #ccc;  
  outline: none;
}

.inputWrapper input:focus{
  border-color: #2B7FFF ;
  box-shadow: 0 0 9px rgba(0, 123, 255, 0.6);
}

.LoginButton{
  width: 240px;
  height: 38px;
  margin: 10px 0px;
  border: none;
  border-radius: 8px;
  background-color: #4785e2;
  color: white;
}

.LoginButtonFocus{
  background-color: hwb(216 1% 0%);
  width: 240px;
  height: 38px;
  margin: 10px 0px;
  border: none;
  border-radius: 8px;
  color: white;
}


.LinkButton{
  border: none;
  color: purple;
  margin-left: 3px;
  background-color: white;

}

.LinkButton:hover{
  color: rgb(52, 1, 52);
}

.warning{
  color: rgb(250, 12, 12);
  text-align: center;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}
