.splash-container {
  position: fixed;
  inset: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.splash-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 300px;
  height: 300px;
  pointer-events: none;
}